

@0: 1 2 3,
    4 5 6;

@1: 1 2 3,
    4 5,
    6;
    
@2: 1,
    2 3,
    4 5 6;

@x: x, y, z;
@3: a 1,
    b @x;

transpose {
    00: _inspect(transpose(@0));

    @keys:   a, b, c, d;
    @values: 1, 2, 3, 4;
    10: _inspect(transpose(@keys @values));

    // TODO: incomplete matrices are not quite supported:
    // 20: _inspect(transpose(@1));
    // 21: _inspect(transpose(@2));

    30: _inspect(transpose(@3));
}
