
cat {
    @a: 1, 2;
    @b: 3, 4;

    00: cat(1, 2, 3); // 1, 2, 3
    01: cat(1  2, 3); // 1 2 3
    02: cat(@a, @b);  // 1, 2, 3, 4
    03: cat(@a, 3 4); // 1, 2, 3, 4
    04: cat(1 2, @b); // 1 2 3 4

    @c: @a @b;
    @d: cat(@a, @b);

    10: length(@c); // 2
    // but:
    11: length(@d); // 4
}
