
va {
    @abstract-margin: 1 2 3 4;
    margin: @abstract-margin * 2px;
    
    @a: 10 20;
    @b:  1, 2;

    ab:  @a + @b;
    ba:  @b + @a;
    1ba: 1 + @b + @a;

    d: l(1 2 3) * 42;
    e: l(1, 2, 3) * 42;
}

// ............................................
// Inverting color list values

div {
    @colors: blue, yellow, pink;
    color: @colors;
    background-color: white - @colors;
}